.container
  =image_tag 'header.jpg', width: '1800', height: '1200', class: 'background', :'data-stellar-ratio' => 0.3

  .container.grid

    .socials
      =link_to 'https://www.facebook.com/fhacktory', target: '_blank' do
        %i.icon-facebook-sign
      &nbsp;
      =link_to 'https://twitter.com/fhacktory', target: '_blank' do
        %i.icon-twitter-sign

    %header

      .fhacktory_main_title
        =image_tag 'gear.png', class: 'gear'
        =link_to root_path do
          %h1 Fhacktory
      %h2
        %span Build.
        %span Deliver.
        %span Win.
      %p.what Because a <b>hackathon</b> should be all about <b>hack and fun</b>!
      %p.event
        Next:
        %em Lyon, Sep. 28-29
      %p.register
        %a.btn.btn-xlg.btn-primary{href: 'http://fhacktorylyon.eventbrite.com'}
          Register

   
    .content
      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend The Manifest - Build

      .manifest-content
        .row
          .col-lg-12
            %em You shall
            show off the best of your technical skills
        .row
          .col-lg-12
            %em You shall
            deliver a usable alpha version of your hack in 36h
        .row
          .col-lg-12
            %em You shall
            build and demo something great, that other teams will respect you for
        .row
          .col-lg-12
            %em Please don't
            pitch a startup concept showing boring mockups and fancy power points.
        .row
          .col-lg-12
            And we'll provide everything for you to have fun during the
            =render 'fhacktory'

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Evaluation - Deliver

      .row.text-center.rules
        .col-lg-4
          %h4
            %em 60%
          %span.desc Continuous Evaluation
          %p
            by the
            =render 'fhacktory'
            advocates while helping out with your hack!
        .col-lg-4
          %h4
            %em 30%
          %span.desc Alpha testing
          %p by attendees and other trusted tech savvy
        .col-lg-4
          %h4
            %em 10%
          %span.desc Stage score
          %p by the crowd during your demo

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Prizes - Win

      .row.prizes
        .col-lg-12.big
          Prizes for all top-tree team members!
      .row.prizes
        .col-lg-6
          %h4 Awesome Prizes from our sponsors
          %ul
            %li
              %em= link_to 'Netissime:',  'http://www.netissime.com/',                          target: '_blank', title: 'Netissime'
              VPS hosting
            %li
              %em= link_to 'Amazon:',     'https://kindle.amazon.com/',                         target: '_blank', title: 'Amazon Kindle'
              1 kindle fire per winner
            %li
              %em= link_to 'Mailjet:',    'https://www.mailjet.com/',                           target: '_blank', title: 'Mailjet'
              Accounts for all participants!
            %li
              %em= link_to 'Github:',     'https://github.com/',                                target: '_blank', title: 'Github'
              Premium accounts for all winners
            %li
              %em= link_to 'Prefinery:',  'https://www.prefinery.com/visit?r=fhactory&c=lyon',  target: '_blank', title: 'Prefinery'
              Accounts for all participants!
            %li
              %em= link_to 'Blend:',      'http://www.blendconference.com/',                    target: '_blank', title: 'Blend'
              Tickets + demo

        .col-lg-6
          %h4 ...and more to come! Stay tuned!

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Sponsors

      .row.sponsors.text-center
        .col-lg-12
          =link_to  'http://www.elbmultimedia.com/',                      target: '_blank', title: 'ELB Multimedia' do
            =image_tag 'sponsors/elb.png',                                alt: 'ELB Multimedia'

          =link_to  'http://www.netissime.com/',                          target: '_blank', title: 'Netissime' do
            =image_tag 'sponsors/netissime.png',                          alt: 'Netissime'

          =link_to  'https://kindle.amazon.com/',                         target: '_blank', title: 'Amazon Kindle' do
            =image_tag 'sponsors/amazon-kindle.jpg',                      alt: 'Amazon Kindle'

        .col-lg-12
          =link_to  'https://www.prefinery.com/visit?r=fhactory&c=lyon',  target: '_blank', title: 'Prefinery' do
            =image_tag 'sponsors/prefinery.png',                          alt: 'Prefinery'

          =link_to  'https://www.mailjet.com/',                           target: '_blank', title: 'Mailjet' do
            =image_tag 'sponsors/mailjet.png',                            alt: 'Mailjet', class: :mailjet

          =link_to  'https://github.com/',                                target: '_blank', title: 'Github' do
            =image_tag 'sponsors/github-octocat.png',                     alt: 'Github Octocat'
            =image_tag 'sponsors/github.png',                             alt: 'Github'

        .col-lg-12
          =link_to  'http://www.blendconference.com/',                    target: '_blank', title: 'Blend' do
            =image_tag 'sponsors/blend.jpg',                              alt: 'Blend'

          =link_to  'http://www.alloresto.fr/',                           target: '_blank', title: 'AlloResto.fr' do
            =image_tag 'sponsors/alloresto.png',                          alt: 'AlloResto.fr'

          =link_to  'http://www.coca-cola.com',                           target: '_blank', title: 'Coca-Cola' do
            =image_tag 'sponsors/coca-cola.png',                          alt: 'Coca-Cola'

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Schedule

      .row.schedule
        .col-lg-6
          %h4 Saturday 09/28

          .row
            %dd 9am
            %dt Registration opening and Breakfast
          .row
            %dd 10am
            %dt
              Welcome address from the
              #{render 'fhacktory'},
              and sponsors talks
          .row
            %dd 11am
            %dt Ideas presentation, team building and brainstorming
          .row
            %dd Noon
            %dt Lunch time
          .row
            %dd 1pm
            %dt Get set, ready, go!
          .row
            %dd 5pm
            %dt Snacks
          .row
            %dd 8pm
            %dt Dinner

        .col-lg-6
          %h4 Sunday 09/29

          .row
            %dd 2am
            %dt Snacks
          .row
            %dd 9am
            %dt Breakfast
          .row
            %dd 1pm
            %dt Alpha time! Hacks must be available for Alpha testers
          .row
            %dd 1pm
            %dt Lunch
          .row
            %dd 2pm
            %dt Break, and informal interviews between advocates and teams
          .row
            %dd 4pm
            %dt Teams demo their hack. This is not a pitch, just the perfect time to share your work with the crowd
          .row
            %dd 6pm
            %dt Best hacks announcement
          .row
            %dd 7pm
            %dt Cocktail


      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend FAQ

      .row.fhack
        .col-lg-12
          .row
            %dd Why should I register?
            %dt
              =render 'fhacktory'
              will be the first hackathon taking place in Lyon! Do you really need more? Ok: sexy venue, free drinks and food, great people, amazing atmosphere, awesome prizes...
              %br/
              If you are looking for throwing some lines of codes, building/developing crazy things, or just having fun end of september...
              =render 'fhacktory'
              is the place to be. So please, stop reading and register ;-)

          .row
            %dd Why isn't this event free?
            %dt Not free, sure... but pretty cheap don't you think? A two days hackathons with free food and drinks costs a lot more than the price you will pay. But thanks to our amazing sponsors, the biggest portion of the expenses are already covered. And between us: you will spend a lot more over the week-end if you don't come to the event (two breakfasts, two lunches, one dinner, two breaks, soft drinks, beers...)!

          .row
            %dd Where does it take place?
            %dt
              =render 'fhacktory'
              is hosted by Netissime (elb Group) located 45-47 rue Francis de Pressensé 69100 Villeurbanne - France (#{link_to "http://goo.gl/maps/A6GDo", "http://goo.gl/maps/A6GDo", target: '_blank'}) - a 4min walk from the subway A stop République Villeurbanne (#{link_to "http://goo.gl/maps/q5G0B", "http://goo.gl/maps/q5G0B", target: '_blank'})

          .row
            %dd I am a biz guy. Is fHACKtory for me?
            %dt Of course it is. Sure we don't want you to waste time on most of the biz stuff, but there is still work for you: leadership, product management, communication, wording...

          .row
            %dd How many members per team?
            %dt Teams of two, three and four are welcome. Working as a team is one of the most important thing when you start a project, which is why we would like to avoid teams of one person. Between, team members must be human being: pets and robots are not considered as human being! 

          .row
            %dd I am not part of a team yet, can I still register?
            %dt Of course you can still register. Teams can be found/built on site. The 11am slot on the saturday is actually dedicated to this purpose: <i>Ideas presentation, team building and brainstorming</i>.

          .row
            %dd What to build?
            %dt That is a very good question! Build anything that requires some kind of coding: app, web app, internet of things, dev tools (API / Framework)...

          .row
            %dd Can I start coding prior the event start?
            %dt Definitely not! You can start working on anything you want but the code. By anything we mean: creating your wireframes, designing your logo, building your hardware... Sorry, but we need to keep things fair.

          .row
            %dd What means "deliver"? What should be done?
            %dt You must be able to provide access to an Alpha version and demo your hack on time. So, basically: finish what you started! // We don't expect you to build some kind of top of the art product. Just do what you have to do and don't waste time on optimizations: Build. Deliver. Win.

          .row
            %dd Who are the "advocates" evaluating for 60%?
            %dt
              Advocates will be tech experts thoroughly hand picked by the team @#{render 'fhacktory'}.

          .row
            %dd How will the advocates judge the teams (Evaluation form)?
            %dt The main aspects that will be evaluated are: Complementarity of team members, Collaboration and internal communication, Adaptivity / flexibility of team, Ratio of team-made code, Technical risks, Structure of the code, Individual skills...

          .row
            %dd Who will test my alpha?
            %dt
              Your Alpha will be tested by anybody attending the
              =render 'fhacktory'
              (participants, advocates, sponsors and organizers) as well as outside tech savvy selected by the organizers.

          .row
            %dd How will the crowd vote during the demo?
            %dt Easy, we will measure their enthusiasm (applause meter)!

          .row
            %dd Is it possible to sleep at the venue?
            %dt To sleep? Not sure we understand what you mean by that. Laying down for few minutes will be possible but do you really want to waste more of your precious time "sleeping"!? Don't worry, Coca Cola is providing Burn so you won't need to worry about getting some sleep.

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Who are we?

      .row.text-center.who
        .col-lg-4
          .avatar
            =image_tag 'avatars/ajoly.jpg'
          .desc
            Adrien
            %br/
            Co-founder // Operations @#{render 'fhacktory'}
            %br/
            Lead Developer @Whyd.com
            %br/
            Loves Node.js, Music, and Beer!
            %br/
            =link_to 'adrienjoly.com', 'http://adrienjoly.com', target: '_blank'
        .col-lg-4
          .avatar
            =image_tag 'avatars/slavison.jpg'
          .desc
            Seb
            %br/
            Co-founder // Sponsoring @#{render 'fhacktory'}
            %br/
            Multi-faceted entrepreneur, American at heart
            %br/
            Loves Running, Whisky and Having fun!
        .col-lg-4
          .avatar
            =image_tag 'avatars/tguillory.jpg'
          .desc
            Thomas
            %br/
            Co-founder // Tech Hero @#{render 'fhacktory'}
            %br/
            Full stack web dev, RoR --&gt; Angular.js
            %br/
            Loves Beautiful code, Climbing, and Running!
            %br/

      .row.sponsors.lcdw.text-center
        .col-lg-12
          %p Powered by
          =link_to  'http://www.lacuisineduweb.com/', target: '_blank' do
            =image_tag 'sponsors/lcdw.png',  alt: 'La Cuisine Du Web'

