<!DOCTYPE html>
<html>
<head>
  <title>Fhacktory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller_name} #{action_name}" %>'>

<%= yield %>

</body>
</html>
